<!doctype html>
    <html>
        <head>
            <link rel="stylesheet" href="/css/style.css">
            </style>
            <title>Tracking Workouts</title>
        </head>
        <body>
            {{{body}}}
        </body>
        <script src="/javascript/ajaxscript.js"></script>
    </html>