<!doctype html>
    <html>
        <head>
            <link rel="stylesheet" href="/css/style.css">
            <script src="/javascript/jsexercise.js"></script>
            </style>
            <title>Tracking Workouts</title>
        </head>
        <body>
            {{{body}}}
        </body>
    </html>