<nav class="menu">
  <ul>
      <li><a href="/">Home</a></li>
      <li class="active"><a href="/menu">Menu</a></li>
      <li><a href="/contact">Contact</a></li>
      <li style="float:right"><a href="/about">About</a></li>
  </ul>
</nav>
<h1 class="page-title">Menu</h1>
<div class="menu-div">
    <h3>Salads</h3>
    <ul>Garden Salad</ul>
    <ul>Pasta Salad</ul>
</div>
<div class="menu-div">
    <h3>Pizzas</h3>
    <ul>Cheese Pizza</ul>
    <ul>Pepperoni Pizza</ul>
    <ul>Vegetarian Pizza</ul>
    <ul>Special Pizza</ul>
    <ul Everything Pizza></ul>
</div>

<a href="/download/uppercrustmenu.pdf"><button class="download_button">Lunch Special Menu</button></a>