<nav class="menu">
  <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/menu">Menu</a></li>
      <li><a href="/contact">Contact</a></li>
      <li class="active" style="float:right"><a href="/about">About</a></li>
  </ul>
</nav>
<h1 class="page-title">About Us</h1>
<span><a href="http://ucpoceanside.com/"> Or come visit our sister location in Oceanside</a></span>
<nav class="about-div">
  <ul>Beginning in 1981, we have always been passionate about the quality and healthy ingredients used in making our pizzas.</ul>
  <ul>We have been blending our mozzarella cheese for over 20 years to create a combination that has less fat.</ul>
  <ul>We make our dough fresh daily using hi-gluten unbleached wheat flour that produces a crust consisting of complex carbohydrates.</ul>
  <ul>We offer gluten free and cauliflour crust options</ul>
  <ul>We cut our vegetables daily to give you fresh, crisp mushrooms, red onions, bell peppers and diced tomatoes.</ul>
  <ul>For our pizza sauce, we use fresh packed tomatoes, minimally processed to preserve the natural enzymes and taste, released as your pizza is being baked.</ul>
  <ul>We have been a community staple around Vista for the past 40 years</ul>
</nav>