<nav class="menu">
  <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/menu">Menu</a></li>
      <li><a href="/contact">Contact</a></li>
      <li style="float:right"><a href="/about">About</a></li>
  </ul>
</nav>