<nav class="menu">
  <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/menu">Menu</a></li>
      <li><a href="/contact">Contact</a></li>
      <li style="float:right"><a href="/about">About</a></li>
  </ul>
</nav>
<h1 class="page-title">Upper Crust Pizza</h1>
<div class="slideshow">
  <div class="slide">
    <img src="/pictures/spag.jpeg" class="image" style="width:100%">
  </div>

  <div class="slide">
    <img src="/pictures/cannoli.JPG" class="image" style="width:100%">
  </div>

  <div class="slide">
    <img src="/pictures/laz.jpeg" class="image" style="width:100%">
  </div>

  <a class="prevSlide" onclick="slideDirection(-1)">&#9668;</a>
  <a class="nextSlide" onclick="slideDirection(1)">&#9658;</a>
</div>