<div class="slideshow">
  <div class="slide">
    <img src="/pictures/spag.jpeg" style="width:100%">
  </div>

  <div class="slide">
    <img src="/pictures/cannoli.JPG" style="width:100%">
  </div>

  <div class="slide">
    <img src="/pictures/laz.jpeg" style="width:100%">
  </div>

  <a class="prevSlide" onclick="slideDirection(-1)">&#9668;</a>
  <a class="nextSlide" onclick="slideDirection(1)">&#9658;</a>
</div>