ul {
position: fixed;
top: 0;
width: 100%;
}

body {
  position: relative;
  background-color: #cecece;
  padding: 0;
  margin: 0;
}

.page-title {
  padding-top: 50px;
  font-size: 80px;
  font-weight: bold;
  text-align: center;
  font-family: cursive;
  color: #000000;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: rgb(255, 2, 2);
}

li {
float: left;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

.menu ul li :last-child{
float: right;
}

li a:hover {
background-color: #000000;
}

.active {
background-color: seagreen;
}


.slide {
  display: none;
  width: 300px;
  height: 300px;
  margin: 0 auto;   
}

.slideshow{
  position: relative;
  width: 100%;
  align-content: center;
}

.image {
  width: 100%;
  margin: auto;
}

.prevSlide,
.nextSlide {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #000000;
  font-weight: bold;
  font-size: 30px;
  border-radius: 3px 3px 3px 3px
}

.download_button {
  background-color: rgb(169, 255, 30);
  border: none;
  color: #000000;
  padding: 30px 30px;
  cursor: pointer;
  font-size: 16px;
}


.nextSlide {
  right: 20%;
}

.prevSlide {
  left: 20%;
}

.menu-nav {
  position: relative;
  text-align: left;
}

.download_button {
  position: relative;
  align-self: center;
}