<!doctype html>
    <html>
        <head>
            <link rel="stylesheet" href="/css/style.css">
            <script src="/javascript/carousel.js"></script>
            </style>
            <title>Upper Crust Pizza</title>
        </head>
        <body>
            {{{body}}}
        </body>
    </html>